*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
}

header{
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    top: 0;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgb(139, 139, 139);
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

nav a{
    text-decoration: none;
    color: #ff8f63;
}

nav img{
    height: 50px;
    width: 50px;
}

/* login screen */

a {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
  color: black;
  font-size: 15px;
}

h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: rgba(255, 255 , 255, 0.65);
  font-family: 'Cormorant', serif;
}

h4 {
  font-family: 'Varela Round', sans-serif;
  color: black;
}

input {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-family: 'Cormorant', serif;
  color: white;
  font-size: 20px;
  margin-top: 15px;
}

.container1 {
  background-image: url(img/back-img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255 , 255, 0.1);
  border-top: 1px solid rgba(255, 255 , 255, 0.5);
  border-left: 1px solid rgba(255, 255 , 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 30px 110px 60px 60px;
}

.button {
  text-align: center;
  margin-top: 50px;
  margin-left: 23%;
}
.btn {
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  background: white;
  padding: 10px 40px;
  border: solid white 2px;
  text-decoration: none;
  transition: 0.4s ease;
}

.btn:hover {
  color: white;
  background: transparent;
}

.textbox {
  margin-top: 10px;
  margin-bottom: 10px;
}
.info-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.name {
  margin-left: 5px;
}

.info::after {
  content: "";
    display: block;
    width: 100%;
    border-bottom: 1.7px solid white;
}

.gender input {
    margin-left: 5px;
}
.gender::after {
  width: 97.5%;
  margin-left: 7px;
}

.gender::before {
  content: "Type M or F";
  position: absolute;
  left: 25px;
  bottom: 0;
  font-size: 12px;
  font-family: 'Varela Round', sans-serif;
  background-color: rgba(36,36,36, 0.5);
  color: rgba(223,223,223, 0.8);
  padding: 5px 10px;
  border-radius:10px;
  transform: scale(0);
  transition: 0.2s ease-out;
}
.gender:hover::before {
  transform: scale(1);
  bottom: 50%;
}

.info-container i{
  margin-top: 20px;
  color: #132c33;
}
.fa-user {

  margin-right: 5px;
}

::placeholder {
  text-align: left;
  color: rgb(201,207,204);
  opacity: 0.5;
  font-size: 18px;
}


.container2 {
  display: none;
}
.bodybg{
    background-image: url("./img/bodybg.jpg");
    background-size: contain;
    filter: blur(8px);
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
}

.container{
    max-width:80%;
    height: 80vh;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(131, 126, 126);
    display: flex;
}

.online-users{
    width: 20%;
    background:#ffdd63;
    margin-right: 10px;
    overflow-y: auto;
}

.live-chat{
    width: 80%;
    padding: 20px;
    background:#6c63ff ;
}

.user{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgb(173, 173, 173);
}

#name{
    font-size: 1em;
}

#status{
    font-weight: 300;
    font-style: italic;
    margin-left: 5px;
}

.user-img{
    width: 50px;
    height: 50px;
    background: rgb(201, 201, 201);
    border-radius: 50%;
}

.male{
    background-image: url("./img/man.png");
    background-size: cover;
}

.female{
    background-image: url("./img/woman.png");
    background-size: cover;
}

.message-section{
    background: white;
    padding: 20px;
    height: 90%;
    border-radius: 4px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px rgb(73, 73, 73);
}

.message:last-child{
    scroll-snap-align: end;
}

.message{
    max-width: 70%;
    background: #ff8f63;
    margin: 10px 0;
    padding: 15px;
    opacity: 0.9;
    box-shadow: 2px 2px 10px rgb(163, 163, 163);
}

.right{
    float: right;
    border-radius: 12px 12px 0 12px;
    clear: both;
}

.left{
    float: left;
    border-radius: 12px 12px 12px 0;
    clear: both;
}

.user-name{
    font-size: 0.8em;
    font-weight: 600;
    font-style: italic;
}

.user-message{
    font-size: 0.7em;
}

.time{
    font-size: 0.5em;
    float: right;
    margin-top: 4px;
}

.message-input-section{
    width: 100%;
    height: 10%;
}

#input-form{
    display: flex;
    align-items: center;
}

#message-input{
    padding: 20px;
    width: auto;
    flex-grow: 1;
    border-radius: 6px;
    border: none;
    font-size: 1em;
    height: 54px;
}

.message-send{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    background-color: white;
    background-image: url("./img/send.png");
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

.message-send:hover{
    opacity: 0.9;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 50px;
    background: white;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgb(139, 139, 139);
}

footer a{
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 10px;
}

@media(max-width:1450px){
    .user{
        flex-direction: column;
        font-size: smaller;
    }
    #status,#name{
        text-align: center;
        margin: 0;
    }
    .user-img{
        width: 30px;
        height: 30px;
    }
}

@media(max-width:800px){
    .container{
        max-width: 95%;
    }
}

@media(max-width:600px){
    #message-input{
        padding: 10px;
        font-size: 0.8em;
        height: 30px;
    }
    .message-send{
        height: 30px;
        width: 30px;
        margin-left: 5px;
        background-size: 20px;
        background-position: 60% 50%;
    }
    .message-input-section{
        height: 5%;
    }
    .message-section{
        height: 95%;
    }
    .user{
        font-size: 10px;
        margin: 10px;
    }
    .container{
        padding:15px;
    }
    header{
        font-size: 0.8em;
    }
    footer h3{
        font-size: 0.9em;
    }
    footer a{
        font-size: 0.9em;
    }
    nav img{
        width: 25px;
        height: 25px;
    }
}

@media(max-width:450px){
    #message-input{
        width: 50%;
    }
    #message-input{
        font-size: 0.8em;
    }
}
